@font-face {
  font-family: 'happy-times-ng_regular_master_web';
  src: url('webfonts/happy-times-ng_regular_master_web.eot');
  src: url('webfonts/happy-times-ng_regular_master_web.eot?#iefix') format('embedded-opentype'),
    url('webfonts/happy-times-ng_regular_master_web.woff') format('woff2'),
    url('webfonts/happy-times-ng_regular_master_web.woff2') format('woff'),
    url('webfonts/happy-times-ng_regular_master_web.ttf') format('truetype'),
    url('webfonts/happy-times-ng_regular_master_web.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'happy-times-ng_italic_master_web';
  src: url('webfonts/happy-times-ng_italic_master_web.eot');
  src: url('webfonts/happy-times-ng_italic_master_web.eot?#iefix') format('embedded-opentype'),
    url('webfonts/happy-times-ng_italic_master_web.woff') format('woff2'),
    url('webfonts/happy-times-ng_italic_master_web.woff2') format('woff'),
    url('webfonts/happy-times-ng_italic_master_web.ttf') format('truetype'),
    url('webfonts/happy-times-ng_italic_master_web.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'happy-times-ng_bold_master_web';
  src: url('webfonts/happy-times-ng_bold_master_web.eot');
  src: url('webfonts/happy-times-ng_bold_master_web.eot?#iefix') format('embedded-opentype'),
    url('webfonts/happy-times-ng_bold_master_web.woff') format('woff2'),
    url('webfonts/happy-times-ng_bold_master_web.woff2') format('woff'),
    url('webfonts/happy-times-ng_bold_master_web.ttf') format('truetype'),
    url('webfonts/happy-times-ng_bold_master_web.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
