@page {
  margin: 0mm;
  size: A4 portrait;
}

* {
  margin: 0;
  padding: 0
}

body {
  color: darkslategrey;
  word-spacing: -0.1rem;
  font-family: "happy-times-ng_regular_master_web";
}

.page {
  overflow: hidden;
  background-color: white;
  line-height: 130%;
}

/* A SUPPRIMER  /
section, aside{background-color: rgba(128,128,128,0.1)}
/* A SUPPRIMER  */

h1 {text-align: right;}

h1, h2{
  margin-bottom: 0.6rem;
  font-weight: normal;
  font-family: "happy-times-ng_bold_master_web";
}


p, ul, ol {
  margin-bottom: 10px;
}

ul, ol {
  list-style-position: inside;
}

small {
  font-size: 12px;
  line-height: 130%;
}

h1 {
  grid-column: 1 / 4;
}

em {
  font-style: normal;
  font-family: "happy-times-ng_italic_master_web";
}

.onetwocols {
  grid-column: 1 / 3;
}

.pitch {
  grid-column: 2 / 4;
}

#date {
  margin-top: 1em;
  font-size: 36px;
  align-self: end;
  grid-row: 1 / 2;
}

#appel {
  font-size: 32px;
  line-height: 110%;
  grid-column: 3/4;
  grid-row: 1/3;
}

img {
  width: 100%;
}

aside {
  padding: 3mm 0;
  border-top: 3px solid darkslategrey;
  border-bottom: 3px solid darkslategrey;
}

@media only screen and (max-width: 599px) {
  .page {
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    font-size: 16px
  }

  h1 {
    font-size: 50px;
    line-height: 90%;
  }

  h2 {
    margin-top: 10mm;
    font-size: 24px;
    line-height: 100%;
  }

  .pitch {
    font-size: 18px;
  }

  .smallfontsize {
    font-size: 16px;
    line-height: 130%;
  }
}

@media print,
screen and (min-width: 600px) {

  .page {
    padding:5mm;
    margin: 0 auto;
    width: 200mm;
    height: 287mm;
    page-break-after: always;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5mm 10mm;
    font-size: 12px;
    border: 1px dotted grey;
  }

  h1 {
    font-size: 120px;
    line-height: 90%;
  }

  h2 {
    font-size: 20px;
    line-height: 100%;
  }

  .pitch {
    font-size: 20px;
    line-height: 130%;
  }

  .smallfontsize {
    font-size: 12px;
    line-height: 130%;
  }
}
